<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginControllerServlet</servlet-name>
        <servlet-class>controller.LoginControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageContestServlet</servlet-name>
        <servlet-class>contestServices.ManageContestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCoordinatorServlet</servlet-name>
        <servlet-class>coordinatorServices.ManageCoordinatorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageParticipantServlet</servlet-name>
        <servlet-class>participantServices.ManageParticipantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageQuestionServlet</servlet-name>
        <servlet-class>questionServices.ManageQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParticipantControllerServlet</servlet-name>
        <servlet-class>controller.ParticipantControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageResultServlet</servlet-name>
        <servlet-class>resultServices.ManageResultServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginControllerServlet</servlet-name>
        <url-pattern>/LoginControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CoordinatorControllerServlet</servlet-name>
        <servlet-class>controller.CoordinatorControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CoordinatorControllerServlet</servlet-name>
        <url-pattern>/CoordinatorControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminControllerServlet</servlet-name>
        <servlet-class>controller.AdminControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminControllerServlet</servlet-name>
        <url-pattern>/AdminControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageContestServlet</servlet-name>
        <url-pattern>/ManageContestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCoordinatorServlet</servlet-name>
        <url-pattern>/ManageCoordinatorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageParticipantServlet</servlet-name>
        <url-pattern>/ManageParticipantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageQuestionServlet</servlet-name>
        <url-pattern>/ManageQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParticipantControllerServlet</servlet-name>
        <url-pattern>/ParticipantControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageResultServlet</servlet-name>
        <url-pattern>/ManageResultServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
